[submodule "build/bootstrap"]
	path = build/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "protected/library/yii-full"]
	path = protected/library/yii-full
	url = git://github.com/yiisoft/yii.git
