[submodule "build/bootstrap"]
	path = build/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "protected/library/yii"]
	path = protected/library/yii
	url = git://github.com/mintao/yii-mini.git
